# Ignore data folder
data/
chemberta_finetuned_model/
output/
output_final/
output_final_tokenizer/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/

# Ignore system files
.DS_Store

# Ignore CSV and Excel files
*.csv
*.xlsx
